html,
body {
  font-size: 100%;
  font-family: Helvetica;
  height: 100%;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* Behind the navbar */
  z-index: 100;
  /* Height of navbar */
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  /* Scrollable contents if viewport is shorter than content. */
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  /* Space for fixed navbar */
  padding-top: 133px;
}

@media (min-width: 768px) {
  [role="main"] {
    /* Space for fixed navbar */
    padding-top: 48px;
  }
}

/*
 * Navbar
 */

.navbar {
  background: #1a1a1a;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
}

#navbar__logo img {
  height: 50px;  
  width: auto;
  display: block;
}

.navbar__info {
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  gap: 20px;
}

.navbar__info span strong {
  color: #91D5C1;
}

.section-control,
.section-status,
.section-camera {
  height: 80vh;        /* Full screen height minus navbar */
  padding: 20px;
}

.section-control {
  background-color: #f8f9fa;
}

.section-status {
  background-color: #e9ecef;
}

.section-camera {
  background-color: #dee2e6;
}

.config-input {
  width: 200px;
  background-color: #fff;
  color: #000;
}


/* Control section */

.start-button {
  background-color: #28a745;   /* Green */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.start-button:hover {
  background-color: #218838;   /* Darker green */
}

.stop-button {
  background-color: #dc3545;   /* Red */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.stop-button:hover {
  background-color: #c82333;   /* Darker red */
}



/* Status section */

.status-light-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.light {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 10px;
  background-color: grey;  /* Default OFF */
}

.light.on-go {
  background-color: green;
}

.light.on-stop {
  background-color: red;
}

/* Camera feed section */

